@import 'https://fonts.googleapis.com/css?family=Lato';


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: 'Times New Roman', sans-serif;
}